@{
    ViewData["Title"] = "主页";
}

    <div class="text-center">
        <h1 class="display-4">Welcome Yatui88.com</h1>
        <h1 class="display-4">站点建设中…………</h1>
        <p><a href="https://docs.microsoft.com/aspnet/core">点击访问站点技术 ASP.NET Core</a>.</p>
    </div>
